---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout>
      <h1>About me</h1>
      <p>
        I'm a web developer and I love to write about web development.
      </p>
    </BaseLayout>
  </body>
</html>