---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"
const allPosts = await getCollection('posts')
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<BaseLayout pageTitle="Inicio">
			<h1>Inicio</h1>
			{
				allPosts.map((post: any) => (
					<article>
						<h2>{post.data.title}</h2>
						<p>{post.data.description}</p>
					</article>
				))
			}
		</BaseLayout>
	</body>
</html>
