---
import Image from "astro/components/Image.astro";
import Link from "../Link.astro";
---

<style>

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scroll {
    overflow: hidden !important;
  
  }
</style>

<header class="relative top-0 max-w-screen-2xl mx-auto transition-all duration-500 ease-in-out h-fit" id="headerNav">
  <section id="headerSection" class='top-0 left-0 md:left-auto transition-all duration-500 ease-in-out flex flex-col md:flex-row items-start md:items-center justify-start md:justify-between px-5 md:px-8 py-5 w-full fixed max-w-screen-2xl bg-opacity-80 z-20'>
    <div class='p-0 flex flex-row items-center gap-x-4 md:gap-x-5'>
      <Image
        src="/images/profile-compressed.webp"
        width={100}
        height={100}
        alt="Vicente Jorquera profile"
        class="rounded-full w-10 md:w-12 h-10 md:h-12"
        loading='eager'
      />
      <h2 class="text-lg font-medium text-stone-100">
        <Link href='/' text='Vicente Jorquera' type='secondary' />
      </h2>
    </div>
    <nav id="nav" class="opacity-0 md:opacity-100 size-0 md:size-auto pointer-events-none md:pointer-events-auto w-full transition-all duration-300 ease-in-out">
      <ul class="flex flex-col md:flex-row gap-8 md:gap-4 text-xl md:text-lg text-start uppercase md:capitalize font-medium text-zinc-400">
        <li>
          <Link href="/" text="Inicio" type="primary" />
        </li>
        <li>
          <Link href="/blog" text="Blog" type="primary" />
        </li>
        <li>
          <Link href="/proyectos" text="Proyectos" type="primary" />
        </li>
        <li>
          <Link href="/contacto" text="Contacto" type="primary" />
        </li>
      </ul>
    </nav>
  </section>
  <button id="toggleNav" class="absolute top-[1.72rem] md:top-8 right-5 md:hidden z-20"
    aria-label="Toggle navigation" aria-labelledby="toggleNav" title="Toggle navigation"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 text-white"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"
      />
    </svg>
  </button>
</header>

<script>
  const headerNav = document.getElementById('headerNav') as HTMLElement;
  const headerSection = document.getElementById('headerSection') as HTMLElement;
  const toggleNav = document.getElementById('toggleNav') as HTMLElement;
  const nav = document.getElementById('nav') as HTMLElement;


  toggleNav.addEventListener('click', () => {
    nav.classList.toggle('pointer-events-none')

    if (nav.classList.contains('size-0')) {
      nav.classList.remove('size-0');
      nav.classList.add('size-100', 'pt-12');
      nav.classList.remove('opacity-0');
      headerSection.classList.add('h-screen', 'bg-zinc-950', 'backdrop-blur-xl', 'hide-scroll');
    } else {
      nav.classList.remove('size-100', 'pt-12');
      nav.classList.add('size-0');
      headerNav.classList.add('bg-transparent');
      headerSection.classList.remove('h-screen', 'bg-zinc-950', 'backdrop-blur-xl');
      nav.classList.add('opacity-0');
    }
  })
</script>