---
import Image from "astro/components/Image.astro";
import Link from "./Link.astro";
---
<style>
  .open {
    opacity: 100;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: start;
  }

  /* Agrega una transición para suavizar el cambio de clases */
  #nav-links {
    transition: all 0.5s ease;
  }
</style>

<header
  class="flex h-20 justify-between w-full fixed max-w-screen-2xl transition-colors duration-300 ease-in-out top-0 mx-auto px-8 md:items-center  bg-white"
  id="headerNav"
>
  <div class="flex flex-row gap-4 items-center">
    <Image
      src="/images/profile.webp"
      alt="Logo"
      width={500}
      height={500}
      class="w-12 h-12 md:w-14 md:h-14 rounded-full"
      loading="eager"
    />
    <h2 class="text-xl">
      <a href="/" class="font-medium text-nowrap">Vicente Jorquera</a>
    </h2>
  </div>
  <nav
    id="nav-links"
    class="transition-all md:items-center duration-300 ease-in-out opacity-0 md:opacity-100 h-full  w-full md:w-fit  md:flex "
  >
    <ul class="flex flex-row items-start md:items-center gap-4 w-full md:w-fit pointer-events-none md:pointer-events-auto ">
      <li class="w-full">
        <Link href="/" text="Inicio" type="internal" />
      </li>
      <li>
        <Link href="/" text="blog" type="internal" />
      </li>
      <li>
        <Link href="/" text="proyectos" type="internal" />
      </li>
      <li>
        <Link href="/" text="contacto" type="internal" />
      </li>
    </ul>
  </nav>
  <button
    type="button"
    title="handle-menu"
    id="handle-menu"
    class="absolute right-8 top-6 md:hidden"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>
</header>

<script>
  const handleMenu = document.getElementById("handle-menu") as HTMLButtonElement;
  const navLinks = document.getElementById("nav-links") as HTMLElement;
  const headerNav = document.getElementById("headerNav") as HTMLDivElement;
  const navLinksList = navLinks.querySelector("#nav-links ul") as HTMLUListElement;
  const headerNavHeader = headerNav.querySelector("#headerNav div") as HTMLDivElement;

  handleMenu.addEventListener("click", () => {
    if (headerNav.classList.contains('h-20')) {
      headerNav.classList.remove('h-20')
      headerNavHeader.classList.add('h-20')
      headerNav.classList.add('h-full', 'flex-col')
      navLinks.classList.remove('closed')
      navLinks.classList.add('open')
      navLinksList.classList.remove('flex-row')
      navLinksList.classList.add('flex-col', 'w-full')

      if (navLinksList.classList.contains('pointer-events-none')) {
        navLinksList.classList.remove('pointer-events-none')
      }
    } else {
      navLinks.classList.remove('open')
      navLinks.classList.add('opacity-0')
      headerNav.classList.remove('h-full', 'flex-col')
      headerNav.classList.add('h-20')
      headerNavHeader.classList.remove('h-20')
      navLinksList.classList.remove('flex-col', 'w-full')
      navLinksList.classList.add('flex-row')
      navLinksList.classList.add('pointer-events-none')
    }
  });
</script>