---
const { href, text, type } = Astro.props as {
  href: string;
  text: string;
  type: 'internal' | 'external' | 'primary' | 'secondary';
  icon?: ChildNode;
}
---

<a href={href} class="w-full">
  {text}
</a>