---
const { url, message } = Astro.props
---

<a href={url} target="_blank" rel="noopener noreferrer" class='fill-zinc-300  hover:fill-lime-100 transition-all duration-300 ease-in-out w-8 h-8 block'>
  <slot />
</a>