---
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";
import LinkRefIcon from "./LinkRefIcon.astro";

const { type, slug } = Astro.props;
const baseLink = `https://vicentejorquera.dev/${type === 'proyectos' ? type : 'blog'}/${slug}`;

const twitterMessage = type !== 'proyectos' ?
  "He leído este post de @jvicente_20 y el contenido me pareció muy interesante.👌\nAccede y comparte el contenido con el siguiente link.🔗:\n" : "Me pareció muy interesante el nuevo proyecto de @jvicente_20 🤓😎\nAccede al siguiente link y miralo por tu cuenta:"
---

<ul class='flex flex-row gap-4 items-center'>
  <li>
    <LinkRefIcon
      url={`https://twitter.com/share?url=${baseLink}&text=${twitterMessage}`}
    >
      <TwitterIcon title='Compartir en Twitter' />
    </LinkRefIcon>
  </li>
  <li>
    <LinkRefIcon url={`https://www.linkedin.com/sharing/share-offsite/?url=${baseLink}`}>
      <LinkedinIcon title='Compartir en LinkedIn' />
    </LinkRefIcon>
  </li>
</ul>
