---
import Footer from "../components/Footer.astro";
import Header from "../components/header/Header.astro";

const { pageTitle } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-zinc-950 text-zinc-100">
    <div id="limeDivsContainer" class="relative"/>
    <main class="w-screen backdrop-blur-3xl ">
      <Header />
      <section class='max-w-screen-2xl mx-auto px-8 pb-4 pt-[4.5rem] min-h-[95vh]'>
        <slot />
      </section>
      <Footer />
    </main>
  </body>
</html>