---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle="Blog">
  <h1>Blog</h1>
  <p>Here you can see all the posts</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/proyectos/${post.slug}`}>{post.data.title}</a>
        </li>
      
      ))
    }
  </ul>
</BaseLayout>